<html>
    <head>
        <title>DEMO APP</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    </head>
    <body class="row text-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <h1>DEMO APP LOGIN</h1>
            </div>
            <hr />
            <form action="/login" method="POST">
                <div class="row justify-content-center form-group">
                    <div class="col-sm-3"><label for="username">USERNAME</label><input type="text" class="form-control" id="username" name="username" placeholder="username" title="Enter your username!" required /></div>
                </div>
                <div class="row justify-content-center form-group">
                    <div class="col-sm-3"><label for="password">PASSWORD</label><input type="password" class="form-control" id="password" name="password" placeholder="password" title="Enter your password!" required /></div>
                </div>
                <div class="row form-group">
                    <div class="col"><button type="submit" class="btn btn-primary">SUBMIT</button></div>
                </div>
                <hr />
                <div class="row form-group">
                    <div class="col font-weight-light">
                        <p class="error">CURRENT STATE</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col font-italic font-weight-light">
                        <p class="error">{{message}}</p>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>

